/* [listbox] */

.listbox {
    width:100%;
    height:100%;
    /*overflow-y: auto;*/
}
.listbox ul{
    width:100%;
    height:100%;
}
.listbox ul li{
    border-bottom: 1px solid #d9d9d9;
    height:25px;
    line-height: 25px;
    padding:0 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.listbox ul li:hover{
    background-color: #34a5e7;
    color: white;
}
.listbox ul li.active{
    background-color: #34a5e7;
    color: white;
    font-weight: bold;
}
.listbox ul li:last-child{
    border-bottom: 0;
    height:25px;
    line-height: 25px;
    padding:0 10px;
}

.listbox .mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
.listbox .mCSB_inside > .mCSB_scrollTools_vertical {
    opacity: .1;
}

/* [combobox] */

.combobox {
    margin-right:50px;
}
.combobox .form-el{
    width:100%;
}
.combobox input{
    padding:10px 36px 10px 10px!important;
}
.combobox .form-el i {
    font-family: "formplate";
    text-align: center;
    position: absolute;
    right: -50px!important;
    top:-20.5px!important;
    width:40px!important;
    height: 45px!important;
    font-size: 20px!important;
    line-height: 46px;
    line-height: 2.875rem;
    color: #d9d9d9;
    z-index: 1;
    -webkit-transition: color 0.2s ease-out 0s;
    -moz-transition: color 0.2s ease-out 0s;
    -o-transition: color 0.2s ease-out 0s;
    -ms-transition: color 0.2s ease-out 0s;
    transition: color 0.2s ease-out 0s;
    cursor: pointer;
}
.combobox .form-el i.active {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.combobox .dropdown {
  position:fixed;
  display:none;
  top:20px;
  left: 20px;
  width:300px;
  height:300px;
  overflow-y: auto;
  background-color: white;
  z-index: 1;
    border: 1px solid #d9d9d9;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    background-clip: padding-box;
}

.combobox .dropdown ul{
    width:100%;
    height:100%;
}
.combobox .dropdown ul li{
  box-sizing: border-box;
    border-bottom: 1px solid #d9d9d9;
    height:25px;
    line-height: 25px;
    padding:0 10px;
    cursor: pointer;
}
.combobox .dropdown ul li:hover{
  background-color: #34a5e7;
  color: white;
}
.combobox .dropdown ul li:last-child{
    border-bottom: 0;
    height:25px;
    line-height: 25px;
    padding:0 10px;
}
.combobox .dropdown ul li.hidden {
    display:none;
}
