html { width: 100%; height: 100%; }
body { padding: 0; margin: 0; width: 100%; height: 100%; position: relative;  background: #555;  line-height: 1.6em; font-size: 12px;  }
b { font-weight: bold; }

a {
    text-decoration: none;
}
i { vertical-align: middle; }
img { vertical-align: middle; }
::-webkit-scrollbar {
    /*display: none;*/
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, span, div, form, fieldset, legend, input, textarea, button, select, a, label { font-family: 'noto-sans', sans-serif;      }
input, button { font-size: 12px; }
.row { position: relative; }
.row:after { content: ""; display: block; clear: both; }
.col {  }
.row .col:first-child { margin-left: 0px; }
.wrap { overflow: hidden; position: relative; }

div {
    box-sizing: border-box;
}
.divTextarea {
    width: 100%;
    /*height: calc(100% - 168px);*/
    padding: 5px;
    margin: 0px;
    margin-bottom: 1.5em;
    background-color: #fff;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    z-index: 1;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    overflow-y: auto;
    box-sizing: border-box;
}