a {
    cursor:pointer;
    color:gray;
    font-weight: bold;
}
button {
    cursor:pointer;
    color: white;
    font-size: 0.875rem;
    background-color: #34a5e7;
    border: 0;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    white-space: normal;
}
button:active{
    background-color: #3390d1;
}
html{
    overflow-x:hidden;
}
#major{
    width:100%;
    height:100%;
}
.buttons {
    text-align: justify;
    vertical-align: top;
    white-space: nowrap;
}
.head {
    width:100%;
    height:50px;
    border-bottom:1px solid #d9d9d9;
    padding: 5px 3px;
}
.head > div {
    padding:0;
    display: inline-block;
}
.head > #searchInput {
    width: calc(40% - 50px);
}
.head > #searchType{
    width:100px;
    vertical-align: top;
}
.head > .buttons {
    width:calc(60% - 209px);
}
.buttons .form-bt {
    display: inline-block;
    width: calc(50% - 2px);
    height: 38px;
}
.contents {
    width: 100%;
    height:calc(100% - 110px);
}
#vocaList {
    position:absolute;
    top:50px;
    width:200px;
    height:calc(100% - 110px);
    padding: 3px;
}
#vocaList > div{
    width:100%;
    height:100%;
    overflow-y: auto;
}
#result {
    position:absolute;
    top:50px;
    right:0px;
    width:calc(100% - 200px);
    height:calc(100% - 110px);
    border-left:1px solid #d9d9d9;
    padding: 10px;
    background-color: white;
}
#result.opened {
    width:calc(100% - 200px);
}
#result .form-el{
    width:calc(100% - 28px)
}
#result .form-el > label{
    margin-left:10px;
}

#result .form-el:nth-child(3) {
    height: calc(100% - 184px);
}

#result .form-el:nth-child(3) > .divTextarea {
    height: calc(100% - 20px);
}
.tail {
    position:absolute;
    display:inline-block;
    bottom:0;
    width:100%;
    height:60px;
    border-top:1px solid #d9d9d9;
    padding: 5px 3px;
}
.tail > div {
    height:100%;
    display:inline-block;
}
.tail > #information {
    height:100%;
    width:200px;
}
.tail > #else {
    height:100%;
    width:calc(100% - 410px);
    text-align: center;
}
.tail > #romanizer {
    height:100%;
    width:200px;
}
.tail > div .form-bt {
    display: inline-block;
    width: calc(100% - 2px);
    height: 48px;
}
#fog {
    z-index:100;
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(100, 100, 100, 0.7);
    top:0;
    left:0;
    display:none;
    opacity:0;
}
#fog > #informationDialog {
    position:fixed;
    top:calc(50% - 200px);
    left:calc(50% - 160px);
    width:320px;
    height:400px;
    padding:10px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-clip: padding-box;
    /*display:none;*/
}

#fog > #informationDialog > div{
    width:100%;
    text-align: center;
}
#fog > #informationDialog > .logo{
    background-image: url('../img/inkrkamusicon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 45%;
}
#fog > #informationDialog > .comment{
    height: 45%;
}
#fog > #informationDialog > .buttonset{
    height: 10%;
}
.disabledButton {
        background-color: #8d8d8d;
        cursor: not-allowed;
}
#closeButton {
    position:absolute;
    top:-10px;
    right:-10px;
    background-image: url('../img/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    width:25px!important;
    height:25px!important;
    cursor:pointer;
}
#loading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255,255,255,.8);
    display:none;
    z-index:99;
}
#loading.opened{
    display:block;
}
#loadingAnimation {
    position:absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    background-image: url('../img/loading.gif');
    background-size: 100px;
    background-repeat: no-repeat;
    width:100px!important;
    height:100px!important;
    cursor:pointer;
}

#languageSelect {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.9);
    display:none;
    z-index: 99;
}
#languageSelect > ul {
    position:absolute;
    background-color: white;
    top:calc(50% - 75px);
    left:10%;
    width:80%!important;
    height:150px!important;
}
#languageSelect > ul > li{
    cursor:pointer;
    font-weight: bold;
    height:50px;
    line-height: 50px;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    text-align: center;
}
#languageSelect > ul > li:hover{
    cursor:pointer;
    background-color: #34a5e7;
    color: white;
}

#languageButton {
    height: 38px;
    width: 40px;
    background-image: url('../img/lang.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    display: inline-block;
}
