a {
    cursor:pointer;
    color:gray;
    font-weight: bold;
}
button {
    cursor:pointer;
    color: white;
    font-size: 0.875rem;
    background-color: #34a5e7;
    border: 0;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    white-space: normal;
}
button:active{
    background-color: #3390d1;
}

* {
    background-color: white;
}

html, body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
}

#major {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
}
.buttons {
    text-align: justify;
    vertical-align: top;
    white-space: nowrap;
}
.head {
    width:100%;
    height:100px;
    border-bottom:1px solid #d9d9d9;
    padding: 5px 3px;
    padding-top:55px;
}
.head > div {
    padding:0;
    display: inline-block;
}
.head > #searchInput {
    width:calc(100% - 164px);
}
.head > #searchType{
    width:60px;
    vertical-align: top;
}

.dropdown {
    z-index: 60;
}

.head > #searchType > div.dropdown {
    width: 108px;
    top: 93px;
    right: 5px;
    left: auto;
}
.head > .buttons {
    width:calc(60% - 209px);
}
.head > .buttons.hidden {
    top:-200%;
    position:absolute;
}
.buttons .form-bt {
    display: inline-block;
    width: calc(50% - 2px);
    height: 38px;
}
.contents {
    position: relative;
    width: 100%;
    height: calc(100% - 160px);
    background-color: white;

}
#vocaList {
    position:absolute;
    top: 0;
    width:100%;
    height: 100%;
    padding: 3px;
    overflow-y: auto;
}
#vocaList > div{
    width:100%;
    height:100%;
}
#result {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    padding: 10px;
    background-color: white;
    /*opacity: 1;*/
    display: none;
    z-index: 50;
}

#result .form-el{
    width:calc(100% - 28px)
}
#result .form-el > label{
    margin-left:10px;
    height:10px;
}

#result .form-el:nth-child(3) {
    height: calc(100% - 168px);
}
.tail {
    position: absolute;
    bottom: 0;
    width:100%;
    height:60px;
    border-top:1px solid #d9d9d9;
    padding: 5px 3px;
    z-index: 99;
    background-color: white;
}
.tail > div {
    height:100%;
    display:inline-block;
}
#information {
    position: absolute;
    top:0;
    left:5px;
    height:50px;
    width:50px;
    background-image: url('../img/info.png');
    background-repeat: no-repeat;
    background-size: 50px;
}
.tail > #else {
    text-align: center;
    height:100%;
    width:100%;
    margin:0 auto;
    background-color:white;
    /*width:200%;*/
    /*margin-left:-50%;*/
}

#languageButton {
    position: absolute;
    height:50px;
    width:50px;
    top:0;
    right:5px;
    background-image: url('../img/language.png');
    background-repeat: no-repeat;
    background-size: 50px;
}

#romanizer {
    height: 50px;
    width: 50px;
    background-image: url('../img/romanize.png');
    background-repeat: no-repeat;
    background-size: 50px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    right: 10px;
    transition: all 1s;
    opacity: .8;
    align-self: right;
    margin-top: -50px;
    margin-left: calc(100% - 50px);
    z-index: 1;
}
#romanizer.disabled {
    opacity: 0;
}
#title {
    position: absolute;
    width:200px;
    height:50px;
    line-height:50px;
    font-size: 20px;
    top:0;
    left:calc(50% - 100px);
    text-align:center;
    background-image: url('../img/moblogo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    opacity: .7;
}
.tail > div .form-bt {
    display: inline-block;
    width: calc(100% - 2px);
    height: 48px;
}
#fog {
    z-index:100;
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(100, 100, 100, 0.7);
    top:0;
    left:0;
    display:none;
    opacity:0;
}
#fog > #informationDialog {
    position:fixed;
    top:calc(50% - 200px);
    left:calc(50% - 160px);
    width:320px;
    height:400px;
    padding:10px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-clip: padding-box;
    /*display:none;*/
}

#fog > #informationDialog > div{
    width:100%;
    text-align: center;
}
#fog > #informationDialog > .logo{
    background-image: url('../img/inkrkamusicon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 45%;
}
#fog > #informationDialog > .comment{
    height: 45%;
}
#fog > #informationDialog > .buttonset{
    height: 10%;
}
.disabledButton {
    background-color: #8d8d8d;
    cursor: not-allowed;
}
#closeButton {
    position:absolute;
    top:-10px;
    right:-10px;
    background-image: url('../img/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    width:25px!important;
    height:25px!important;
    cursor:pointer;
}
#loading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255,255,255,.8);
    display:none;
    z-index:99;
}
#loading.opened{
    display:block;
}
#loadingAnimation {
    position:absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    background-image: url('../img/loading.gif');
    background-size: 100px;
    background-repeat: no-repeat;
    width:100px!important;
    height:100px!important;
}

#languageSelect {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.9);
    display:none;
    z-index: 99;
}
#languageSelect.opened{
    display:block;
}
#languageSelect > ul {
    position:absolute;
    background-color: white;
    top:calc(50% - 75px);
    left:10%;
    width:80%!important;
    height:150px!important;
}
#languageSelect > ul > li{
    cursor:pointer;
    font-weight: bold;
    height:50px;
    line-height: 50px;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    text-align: center;
}
#languageSelect > ul > li:hover{
    cursor:pointer;
    background-color: #34a5e7;
    color: white;
}

#resultClose {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../img/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px !important;
    height: 25px !important;
}

.divTextarea {
    margin-bottom: 0 !important;
    height: calc(100% - 16px);
}